.THIS .cdcSlimFooter {
    background:silver;
    height:36px;
    padding-left:130px;
}

.THIS .cdcLinks {
    display:block;
    background:#e5e5e5;
    min-height:0;
    height:auto;
    margin:0;
    padding-left:130px;
}

.THIS .span24 {
    color:#404040;
    font-size:12px;
    padding-left:145px;
    padding-bottom:5px;
}

.THIS .span24 a:hover {
    text-decoration:underline;
}
.THIS .span24 a {
    color:#075290;
    text-decoration:none;
    cursor:auto;
    line-height:25px;
    text-align: -webkit-match-parent;
    font-family:Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:400;
    list-style-type:none;
    margin-top:10px;
    margin-left:0px;
    display:inline;
}

.THIS .tp-sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

.THIS .content-source ul {
    display:inline-block;
}

.THIS .cdcSlimFooter li {
    margin:auto;
    display:inline-block;
    padding-right:40px;
    padding-top:6px;
}

.THIS .cdcLinks li {
    display:inline-block;
}

.THIS .content-source a {
    display:inline;
}

.THIS .address {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
    padding-left:110px;
    padding-right:140px;
}

.THIS .cdcContact  {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
}

.THIS cdcContact li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.THIS .contact {
    text-align: right;
    color:#404040;
}

.THIS .contact a {
    color:#404040;
}

.THIS .hidden-four {
    display: none!important;
}

.THIS .hidden-one a {
    color:#404040;
    cursor:auto;
    line-height:40px;
    margin-right:40px;
    font-family:Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size:12px; 
}

.THIS .span24 li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.THIS .address {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
    font-size:12px;
}

.THIS .right {
    color:#404040;
    float:right;
    font-size:12px;
}

.THIS .bluelink {
    color:#075290;
    font-size:12px;
}