.button-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    }
    
    .custom-button {
    background-color: transparent;
    border: 2px solid hsl(199, 68%, 40%); /* Salesforce blue */
    color: rgb(35, 35, 47);
    padding: 0px 24px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 25px; /* Fully pill-shaped */
    cursor: pointer;
    height: 40px;
    min-width: 210px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    margin-botton: 16px;
    }

    .custom-button:last-child{
        margin-button: 0;
    }
    .custom-button:hover{
        background-color: rgb(24, 94, 128);
        color:white;
    }