@media (max-width: 768px) {
    .MobileView {
     display:grid;
    }
  }
  .tileBorder {
  border: 1px solid; 
  border-top: 5px solid #1565C0;/* #00695C;*/
  border-radius: 16px;
  }
  .tileButton {
    font-size:20px; 
    color: rgb(255,255,255); 
    height: 62px;
    width: 223px;
    background-color: #1976D2; /* new changes;*/
    border-radius: 12px; /* new changes;*/
  }
  .tileImg {
    width:280px; 
    height:154px;
  }
  .fontStyle{
    font-family: 'Nunito', sans-serif;
  }
  .tileButton:hover{
    background-color:#0D47A1; /*rgb(2, 73, 45);  */
    border: 3px solid black;
  }
  .headerStyle{
    font-weight: 1000; 
    /*text-align:center;*/ 
    text-align: left; /* Changed from center to left */
    font-size: 15pt; 
    /*color: rgb(0, 134, 75);*/
    color: rgb(10, 10, 10); /* Changed to blue */
}
  /* new changes*/
.hyperlinkStyle{
    color: rgb(0, 0, 0);
    text-decoration: none !important; 
    font-weight: 300;
}
.hyperlinkStyle:hover{
    color: rgb(13, 106, 153);
    text-decoration: none !important; 
    font-weight: 300;
}

a:hover{
    color: rgb(46, 125, 143);
    text-decoration: none;
    font-weight: 300;
}

.headerStyle{
    font-weight: 1000; 
    /*text-align:center;*/ 
    text-align: left; /* Changed from center to left */
    font-size: 15pt; 
    /*color: rgb(0, 134, 75);*/
    color: rgb(10, 10, 10); /* Changed to blue */
}
.imgStyle{
    padding-bottom: 4px; 
    width: 30px;
}
.contentStyle{
    padding-left:5px;
    font-weight:600;
}
.grayText {
    color: #7f8080;
}
.resource-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 15px 8px rgba(69, 76, 83, 0.08);
  padding: 20px 16px;
  margin: 16px 0;
  min-height: 145px;
  transition: box-shadow 0.2s;
  text-decoration: none !important;
  Border: 1px solid gray;
}

